
.body-view{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    padding: 0 30px;
    gap: 20px;
}
.body-image{
    flex: 1;
}
.body-image img{
     width: 100%;
     border-radius: 20px;
    }

.body-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #24262b; */
}
.body-text :nth-child(1){
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 5%;
}
.body-text p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.body-text a{
    text-decoration: none;
    margin: 40px auto;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 6px;
    border: none;
    font-size: 13px;
    background-color: #24262b;
    color: rgb( 250,250,250);
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 0.2s;
}
.body-text i.fa-solid {
    font-size: 13px; /* Adjust icon size */
    width: 11px;
    margin-top: 7px;
    margin-left: 7px;
  }
.body-text button a:hover{
    background-color: rgb(247, 105, 77);
}

.first-hr{
    width: 90%;
    height: 3px;
    background-color: rgb(210, 213, 219);
    border: none;
}

@media (max-width: 942px){
    .body-view{
        flex-direction: column-reverse;
        padding: 10px 0;
        padding-top: 80px;
        background-color: #24262b;
        gap: 0;
    }
    .body-image img{
        border-radius: 0;
    }
    .body-text{
        text-align: center;
        color: rgb( 200, 200, 200);
        background-color: #24262b;
    }
    .body-text p{
        margin: 0 30px;
    }
    .body-text :first-child{
        font-size: 40px;
        background-color: #24262b;
    }
    .body-text a{
        margin: 30px auto;
        padding: 10px 20px;
        border-radius: 0;
        border: 1px solid rgb(247, 105, 77);
        background-color: #24262b;
        color: rgb( 200, 200, 200);
    }
    .body-text a:hover{
        background-color: rgb(247, 105, 77);
    }
}
@media (max-width: 630px){
    .body-view{
        padding-top: 50px;
    }
    .body-text p{
        margin: 0 30px;
    }
}
@media (max-width: 500px){
    .body-view{
        padding-top:  25px;
        background-color: #24262b;
    }
    .body-text :nth-child(1){
       font-size: 25px;
    }
    .body-text{
        background-color:#24262b;
        color: rgb( 200, 200, 200);
        padding: 0;
    }
    .body-text a{
        margin: 30px auto;
        padding: 7px 14px;
        font-size: 13px;
        border-radius: 0;
        border: 1px solid rgb(247, 105, 77);
        background-color: #24262b;
        color: rgb( 200, 200, 200);
    }
    .body-text p{
        font-size: 13px;
        margin: 0 30px;
    }
    body{
        padding-top: 40px;
    }
}
@media (max-width: 360px){
    body{
        padding-top: 50px;
        margin: 0;
    }
    .body-view{
        padding-top: 0;
        margin: 0;
    }
    .body-text{
        margin-top: 0;
        padding-top: 0;
        width: 100%;
        color: rgb( 200, 200, 200);
    }
    .body-text :nth-child(1){
        font-size: 20px;
        margin-bottom: 5px;
     }
     .body-text p {
        font-size: 13px;
        margin: 10px 10px;
    }
    .body-image img{
        width: 100%;
        object-fit: contain;

    }
    .body-text a{
        margin: 20px auto;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 0;
        border: 1px solid rgb(247, 105, 77);
        background-color: #24262b;
        color: rgb( 200, 200, 200);
    }
}